.slide {
    &-mid {
        max-width: 400px;
    }
    &-top {
        opacity: .5;
        max-width: 400px;
        transform: translateY(50px) scale(.7);
        &:hover {
            opacity: 1;
        }
    }
    &-bottom {
        opacity: .5;
        max-width: 400px;
        transform: translateY(-50px) scale(.7);
        &:hover {
            opacity: 1;
        }
    }
}