@media (max-width: 767.98px) {
    .description {
        display: none!important;
    }
}
.slide {
    &-mid {
        max-width: 400px;
    }
    &-top {
        opacity: .5;
        max-width: 400px;
        position: absolute;
        transform: translateY(-65%) scale(.7);
        &:hover {
            opacity: 1;
        }
    }
    &-bottom {
        opacity: .5;
        max-width: 400px;
        position: absolute;
        transform: translateY(65%) scale(.7);
        &:hover {
            opacity: 1;
        }
    }
}